/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap')

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #1b1b1b;
    font-family: 'Anta', sans-serif;
}

h1,
h2,
h3 {
    text-transform: uppercase;
}

/* Header */
header {
    background-color: #D3D3D3;
}

header a {
    text-decoration: none;
    color: inherit;
}

#logo {
    width: 100%;
    position: relative;
    text-align: center;
}

#logo img {
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
}

/* Navbar */
nav {
    margin: auto;
}

#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#menu li {
    float: left;
}

#menu li a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.active {
    background-color: #1b1b1b;
    color: #D3D3D3;
}

#menu a:hover {
    background-color: #1b1b1b;
    color: #D3D3D3;
}

/* Main */
main {
    /* Make main element take up any excess space to push footer down */
    flex: 1 0 auto;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
    background-color: #FAF9F6;
}

.pg-description p {
    text-align: center;
}

/* League Results - Index page */
#league-results h2 {
    text-align: center;
}

/* League results table */
.tg {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0px auto
}

.tg td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg .tg-1wig {
    font-weight: bold;
    text-align: left;
    vertical-align: top
}

.tg .tg-0lax {
    text-align: left;
    vertical-align: top
}

/* Submit results button styling */
#submit-results {
    text-align: center;
}

.submit-results-button {
    background-color: red;
    color: white;
    width: 150px;
    height: 50px;
}

/* SubmitResults page styling*/
#submit-results-form {
    max-width: fit-content;
    align-self: center;
}

#submit-results-form label {
    float: left;
    clear: left;
    width: 250px;
    text-align: left;
    padding-top: 10px;
}

.score-input {
    background: transparent;
    color: red;
    border: 1px solid black;
    width: 25px;
    height: 25px;
    margin: 5px 0 20px 0;
    border-radius: 2px;
    padding: 0 5px;
}

#waiver {
    text-align: center;
}

/* Removes number spinner at the end of results input box */
/* For Firefox */
#submit-results-form input[type='number'] {
    -moz-appearance: textfield;
}

/* for webkit browsers like Safari and Chrome */
#submit-results-form input[type=number]::-webkit-inner-spin-button,
#submit-results-form input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Footer */
footer {
    background-color: #D3D3D3;
}

footer h3 {
    margin: 5px;
}

#social-networks {
    text-align: center;
    font-weight: bold;
    margin: 5px;
    padding: 0px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

/* Media Queries */
/* Media query to allow mobile devices to touch-scroll through results table */
@media screen and (max-width: 767px) {
    .tg {
        width: auto !important;
    }

    .tg col {
        width: auto !important;
    }

    .tg-wrap {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        margin: 0px auto
    }
}

/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
/* @media screen and (max-width: 600px) {
    #menu a {
        float: none;
        display: block;
    }

    .topnav-centered a {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
    }
} */