/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap')

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #1b1b1b;
    font-family: 'Anta', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Anta', sans-serif;
    text-transform: uppercase;
    color: #1b1b1b;
}

/* Header */

/* Main */

/* Footer */